.agent {
	opacity:1;
}

.node {
      stroke: #fff;
      stroke-width: 1.5px;
}

.node .yes {
      stroke: red;
}

.node .no {
      stroke: blue;
}

.link {
      stroke: #999;
}

.pulse {
       animation: pulse 2s ease infinite
}

@keyframes pulse {
  0% {
    opacity: 0.8
  }
  100% {
    opacity: 0
  }
}